# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temporary & Backup files
*.tmp
*.backup
*.bak
*~

# Environment variables & Secrets
.env
*.pem
*.key
id_rsa*
*.ppk
