services:
  portfolio:
    build: .
    image: nginx_portfolio:latest
    container_name: nginx_portfolio_app
    restart: always
    networks:
      - web_network

networks:
  web_network:
    external: true